* {
    font-family: "JetBrainsMono Nerd Font Propo";
    font-weight: bold;
    font-size: 24px;
}


window#waybar {
    background: rgba(0, 0, 0, 0);
}

/* Left Panel */

/* Distribution Icon */
#custom-distro {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    border-radius: 5px 0px 0px 5px;
}

#custom-distro:hover {
    background: rgba(255, 255, 255, 0.2);
}

/* Workspace Buttons */
button {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    border-radius: 0px 0px 0px 0px;
    padding-left: 10px;
    padding-right: 10px;
}

button:hover {
    background: rgba(255, 255, 255, 0.2);
}

button.active {
    color: #89b4fa;
}

/* Backlight icon */
#backlight {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

#backlight:hover {
    background: rgba(255, 255, 255, 0.2);
}

/* Powerprofile icon */
#custom-powerprofile {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

#custom-powerprofile:hover {
    background: rgba(255, 255, 255, 0.2);
}

/* Network icon */
#network {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0px 5px 5px 0px;
}

#network:hover {
    background: rgba(255, 255, 255, 0.2);
}

/* Bluetooth Icon */
#bluetooth {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0px 5px 5px 0px;
}

#bluetooth:hover {
    background: rgba(255, 255, 255, 0.2);
}

/* Middle Pannel */

/* Clock */
#clock {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px 5px 5px 5px;
}

#clock:hover {
    background: rgba(255, 255, 255, 0.2);
}

/* Right Pannel */

/* WirePlumber */
#wireplumber {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px 0px 0px 5px;
}

#wireplumber:hover {
    background: rgba(255, 255, 255, 0.2);
}

/* Tray icons */
#tray {
    background: rgba(255, 255, 255, 0.1);
    
}

#tray * {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

#tray *:hover  {
    background: rgba(255, 255, 255, 0.1);
}

#tray menu {
    color: white;
    background-color: rgba(0, 0, 0, 0.65);
}

/* Battery */
#battery {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

#battery:hover {
    background: rgba(255, 255, 255, 0.2);
}

/* Disk Usage */
#disk {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0px 5px 5px 0px;
    margin-right: 10px;
}

#disk:hover {
    background: rgba(255, 255, 255, 0.2);
}
