* {
    font-family: "JetBrainsMono Nerd Font Propo";
    font-weight: bold;
    font-size: 24px;
}


window#waybar {
    background: rgba(0, 0, 0, 0);
}

/* Left Panel */

/* Distribution Icon */
#custom-distro {
    background: @theme_bg_color;
    color: @theme_fg_color;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    border-radius: 5px 0px 0px 5px;
}

#custom-distro:hover {
    background: @theme_selected_bg_color;
}

/* Workspace Buttons */
button {
    background: @theme_bg_color;
    color: @theme_fg_color;
    border-radius: 0px 0px 0px 0px;
    padding-left: 10px;
    padding-right: 10px;
}

button:hover {
    background: @theme_selected_bg_color;
}

button.active {
    color: @theme_selected_fg_color;
}

/* Backlight icon */
#backlight {
    background: @theme_bg_color;
    color: @theme_fg_color;
    padding-left: 10px;
    padding-right: 10px;
}

#backlight:hover {
    background: @theme_selected_bg_color;
}

/* Powerprofile icon */
#custom-powerprofile {
    background: @theme_bg_color;
    color: @theme_fg_color;
    padding-left: 10px;
    padding-right: 10px;
}

#custom-powerprofile:hover {
    background: @theme_selected_bg_color;
}

/* Network icon */
#network {
    background: @theme_bg_color;
    color: @theme_fg_color;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0px 5px 5px 0px;
}

#network:hover {
    background: @theme_selected_bg_color;
}

/* Bluetooth Icon */
#bluetooth {
    background: @theme_bg_color;
    color: @theme_fg_color;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0px 5px 5px 0px;
}

#bluetooth:hover {
    background: @theme_selected_bg_color;
}

/* Middle Pannel */

/* Clock */
#clock {
    background: @theme_bg_color;
    color: @theme_fg_color;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px 5px 5px 5px;
}

#clock:hover {
    background: @theme_selected_bg_color;
}

/* Right Pannel */

/* WirePlumber */
#wireplumber {
    background: @theme_bg_color;
    color: @theme_fg_color;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px 0px 0px 5px;
}

#wireplumber:hover {
    background: @theme_selected_bg_color;
}

#tray {
    padding: 0 10px;
    background: @theme_bg_color;
}

#tray > .passive,
#tray > .active,
#tray > .needs-attention {
    background: transparent;
}

#tray > .passive:hover,
#tray > .active:hover,
#tray > .needs-attention:hover {
    background: @theme_selected_bg_color;
}

#tray menu {
    color: @theme_fg_color;
    background-color: @theme_bg_color;
}

/* Battery */
#battery {
    background: @theme_bg_color;
    color: @theme_fg_color;
    padding-left: 10px;
    padding-right: 10px;
}

#battery:hover {
    background: @theme_selected_bg_color;
}

/* Disk Usage */
#disk {
    background: @theme_bg_color;
    color: @theme_fg_color;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0px 5px 5px 0px;
    margin-right: 10px;
}

#disk:hover {
    background: @theme_selected_bg_color;
}
